<div class="bg-dark">
    <div class="container-xxl">
        <div class="wrapper">
            <div class="mb-3">
                <a routerLink="/problem-1">Go to problem 1</a>
            </div>
            <div class="inner">
                <div class="title">
                    <h5 class="fw-bold">Problem 2: String value</h5>
                </div>
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label 
                            for="input-2" 
                            class="form-label">
                            Input
                        </label>
                        <textarea 
                            formControlName="input" 
                            class="form-control" 
                            id="input-2"
                            placeholder="abcabcddd" 
                            rows="10">
                        </textarea>
                        <small 
                            class="block p-error" 
                            *ngIf="form.get('input')?.invalid && form.get('input')?.touched">
                            <div 
                                class="text-danger" 
                                *ngIf="form.get('input')?.hasError('required')">
                                Input is required.
                            </div>
                        </small>
                    </div>
                    <div class="mb-3">
                        <button 
                            class="btn btn-primary w-100" 
                            (click)="solve()" 
                            [disabled]="loading">
                            <span 
                                *ngIf="loading" 
                                class="spinner-border spinner-border-sm">
                            </span>
                            {{loading ? 'Solving...': 'Solve'}}
                        </button>
                    </div>
                </form>
                @if (output) {
                <div class="output p-3">
                    <pre id="output-2">{{output | json}}</pre>
                </div>
                }
            </div>
        </div>
    </div>
</div>